<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>468008484904-dd19nfrpk42vo4pk1lse405md6qmoqvi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.468008484904-dd19nfrpk42vo4pk1lse405md6qmoqvi</string>
	<key>API_KEY</key>
	<string>AIzaSyA3r-E-QaB35h98rIyW2lQwklIMBxSS6JA</string>
	<key>GCM_SENDER_ID</key>
	<string>468008484904</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.woojin.histock</string>
	<key>PROJECT_ID</key>
	<string>histock-a1f80</string>
	<key>STORAGE_BUCKET</key>
	<string>histock-a1f80.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:468008484904:ios:c61d8e9765fba52b4fb51d</string>
	<key>DATABASE_URL</key>
	<string>https://histock-a1f80.firebaseio.com</string>
</dict>
</plist>